.vscode/**
.vscode-test/**
src/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
compiler/**
compiler/
build_compiler.sh
gh/**
gh/
package-lock.json
blp-serial/.vscode/**
blp-serial/.vscode/
blp-serial/node_modules/**
blp-serial/node_modules/
blp-serial/package-lock.json
blp-serial/binding.gyp
blp-serial/test.js
blp-serial/build/**
blp-serial/build/
blp-serial/src/**
blp-serial/src/
