**/*.ts
**/*.map
tsconfig.json
tests/**
tests/
compiler/**
compiler/
build_compiler.sh
src/test/**
gh/**
gh/
package-lock.json
.vscode/**
.vscode/
blp-serial/.vscode/**
blp-serial/.vscode/
blp-serial/node_modules/**
blp-serial/node_modules/
blp-serial/package-lock.json
blp-serial/binding.gyp
blp-serial/test.js
blp-serial/build/**
blp-serial/build/
blp-serial/src/**
blp-serial/src/
.gitignore