**/*.ts
**/*.map
tsconfig.json
tests/**
tests/
compiler/**
compiler/
build_compiler.sh
gh/**
gh/
package-lock.json
.vscode/**
.vscode/
blp-serial/.vscode/**
blp-serial/.vscode/
blp-serial/node_modules/**
blp-serial/node_modules/
blp-serial/package-lock.json
blp-serial/binding.gyp
blp-serial/test.js
blp-serial/build/**
blp-serial/build/
blp-serial/src/**
blp-serial/src/
blp-serial-usb/.vscode/**
blp-serial-usb/.vscode/
blp-serial-usb/build/**
blp-serial-usb/build/
blp-serial-usb/src/**
blp-serial-usb/src/
blp-serial-usb/libusb/**
blp-serial-usb/libusb/
blp-serial-usb/libusb_config/**
blp-serial-usb/libusb_config/
blp-serial-usb/package-lock.json
blp-serial-usb/binding.gyp
blp-serial-usb/libusb.gypi
blp-serial-usb/test.js
blp-serial-usb/build.js
blp-serial-usb/README
.gitignore